<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="alert alert-danger"*ngIf="erro">
      {{erro}}
    </div>
    <div class="col">
      <form class="form-signin" #logon="ngForm" (submit)="entrar()" class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Administração</h1>
        <mat-form-field class="col">
          <input matInput placeholder="Nome" id="nome" name="nome" [(ngModel)]="nome" required>
          <mat-error>Insira o nome de usuario</mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input matInput placeholder="Senha" id="senha" name="senha" [(ngModel)]="senha" required>
          <mat-error>Insira a senha</mat-error>
        </mat-form-field>
        <div class="text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!logon.valid">Sign in</button>
        </div>


        <p class="mt-5 mb-3 text-muted">© Store Project 2017-2018</p>
      </form>
    </div>
    <div class="col">
    </div>
  </div>

</div>